/* header repo */
@media only screen and (max-width: 992px)
{
    header #top{
        font-size: 1em;
    }
    header #main-header h2{
        font-size: 3em;
        overflow: hidden;
    }
    header #main-header p{
        max-width: 40%;
        margin: 0 auto;
        opacity: var(--pgrey);
    }
    header nav label{
        display: block;
        padding: 15px;
        margin-top: 20px;
    }
    header nav label:hover{
        background-color: var(--pnormal);
        color: black;
        border-radius: 5px;
    }
    /* nav{
        position: relative;
    } */
    nav > ul {
        display: none;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;
    }

    nav input[type="checkbox"]:checked ~ ul {
        display: block;
    }
    .dropdown > a {
        display: block;
        width: 100%;
    }

    nav > ul > li:hover > ul {
        display: block;
        z-index: 1;
    }

}
@media only screen and (max-width: 576px)
{
    header #top{
        font-size: 1em;
    }
    #dropBtn{
        font-size: 1em;
        margin-left: 5px;
        background-color: transparent;
        color: var(--pnormal);
        border: none;
        padding-top: 10px;
    }
    header #main-header h2{
        font-size: 3em;
        overflow: hidden;
    }
    header #main-header p{
        max-width: 40%;
        margin: 0 auto;
        opacity: var(--pgrey);
    }
}
/* whatwedo repo */
@media only screen and (max-width: 992px)
{
    #what-we-do .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #what-we-do .item{
        text-align: center;
        width: 50%;
    }
}
@media only screen and (max-width: 576px)
{
    #what-we-do .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #what-we-do .item{
        text-align: center;
        width: 100%;
    }
}
/* Sta repo */
@media only screen and (max-width: 992px)
{
    #statistics .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #statistics .item{
        text-align: center;
        width: 50%;
    }
}
@media only screen and (max-width: 576px)
{
    #statistics .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #statistics .item{
        text-align: center;
        width: 100%;
    }
}
/* services repo */
@media only screen and (max-width: 576px)
{
    #services{
        background-color: rgb(235, 233, 233);
        padding: 5% 5%;
        display: block;
    }
    #services .right{
        width: 100%;
        height: auto;
    }
    #services .container{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 24% 24% 24% 24%;
        row-gap: 1%;
    }
}
/* Test repo */
@media only screen and (max-width: 576px)
{
    #test h3{
        font-size: 20px;
        color: orange;
        text-transform: uppercase;
        position: relative;
        left: 20%;
    }
    #test .container{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        display: block;
    }
    #test .item{
        width: 100%;
        position: relative;
    }
}
/* blog repo */
@media only screen and (max-width: 576px)
{
    #blog .container{
        width: 100%;
        display: block;
    }
    #blog .item{
        height: auto;
        width: 100%;
        margin-bottom: 1.5em;
    }
}
/* contact repo */
@media only screen and (max-width: 992px)
{
    #contact {
        padding: 2em 3em;
    }
}
@media only screen and (max-width: 576px)
{
    #contact {
        padding: 2em 3em;
    }
    #contact .container{
        display: block;
    }
    #contact .item{
        width: 100%;
        height: auto;
        padding: 20px 20px;
    }
}
 /*footer repo */
 @media only screen and (max-width: 576px)
 {
    footer .container{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
    }
    
    footer .item{
        width: 100%;
        height: auto;
        padding: 10px 20px;
    }
 }
 @media only screen and (max-width: 992px)
{
    footer {
        padding: 2em 3em;
    }
    footer #email{
        width: 100%;
    }
    footer #submit{
        width: 100%;
    }
}
/* done */