/* Css chung */
:root{
    --grey: rgb(156, 155, 155);
    --h: rgb(0,0,0);
    --pnormal:rgb(255,255,255);
    --titlesec: 2em;
    --normalM: 80px 100px;
    --topbotM: 40px 0;
    --titleM: 50px auto;
    --pgrey: 80%;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
    color:var(--pnormal)
}
/* Header */
header {
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    position: relative;
}
header #top{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
header #logo{
    margin-left: 30px;
    margin-top: 20px;
}
header #logo a{
    text-decoration: none;
    color: var(--pnormal);
}
header #logo a:hover{
    background-color: none;
}
header nav{
    margin-right:50px ;
}
header #menu a{
    text-decoration: none;
    color: var(--pnormal);
    display: block;
    padding: 15px;  
}
header #menu ul{
    overflow: auto;
}
header #menu li{
    list-style-type: none;
}
header #menu nav > ul > li{
    float: left;
}
header #menu a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}
header nav label {
    display: none;
}
header nav input{
    display: none;
}
header .dropdown  ul {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    text-align: left;
    padding: 0;
}
header nav > ul > li:hover > ul {
    display: block;
    z-index: 1;
}
header #main-header{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    margin-top: 100px;
}
header #main-header p{
    width: 40%;
    margin: 0 auto;
    opacity: var(--pgrey);
    animation: mainheader 2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
header #main-header h2{
    font-size: 50px;
    overflow: hidden;
    animation: mainheader 2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
header #main-header button{
    background-color: transparent;
    color: var(--pnormal);
    border: solid white 1px;
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
}
header #label-first{
    position: relative;
    width: 20%;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    bottom: 10px;
    margin-top: 100px;
}
header #label-first .dot{
    margin: auto auto;
    height: 15px;
    width: 15px;
    background-color: rgba(7, 7, 7, 0.596);
    border-radius: 50%;
    display:inline-block;
    margin-left: 5px;
}

/* Welcome */
#welcome{
    text-align: center;
    margin: var(--normalM);
    animation: welcome 4s both;
}
#welcome img{
    width: 100%;
    margin-top: 50px;
}
#welcome h1{
    color: var(--h);
    font-size: var(--titlesec);
    margin: var(--titleM);
    animation: welcomeh1 2s both;
}
#welcome p{
    color: var(--grey);
    width: 80%;
    margin: 0 auto;
    opacity: var(--pgrey);
}
#what-we-do{
    text-align: center;
    margin: var(--normalM)
}
#what-we-do h2{
    color: var(--h);
    font-size: var(--titlesec);
    margin: var(--titleM);
}
#what-we-do .container{
    display: flex;
    flex-wrap: wrap;
}
#what-we-do .item{
    width: 25%;
    height: auto;
}
#what-we-do img{
    border-radius: 50%;
    margin-top: 20px;

}
#what-we-do .item:hover img{
    animation: imghover 1s both;
}
#what-we-do h3{
    color: var(--h);
}
#what-we-do p{
    color: var(--grey);
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    opacity: var(--pgrey);
}
/* Statistics */
#statistics {
    margin-top: 80px;
    background-image: url("../img/bg.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 50px 20px;
    animation: bgsta 40s both;
}
#sta{
    margin: auto;
    text-align: center;
    font-size: var(--titlesec); 
}
#statistics .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
#statistics .item{
    text-align: center;
    width: 25%;
}
#statistics .item h1{
    font-size: var(--titlesec);
}


/* Services */
#services{
    background-color: rgb(235, 233, 233);
    padding: 5% 5%;
    display: flex;
}
#services .right{
    width: 30%;
}
#services h3{
    color: var(--h);
    font-size: var(--titlesec);
}
#services h3 span{
    background-color: rgba(204, 204, 204, 0.671);
}
#services h2{
    color: var(--h);
    font-size: var(--titlesec);
}
#services h1{
    color: orange;
    font-size: 50px;
}
#services p{
    color: var(--grey);
    opacity: var(--pgrey);
}
#services .container{
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    column-gap:10px ;
    row-gap: 20px;
}
#services .item{
    background-color: white;
    text-align: center;
    padding: 15% 15%;
    height: auto;
    border:1px white solid;
    box-shadow: 5px 10px 5px rgba(196, 196, 196, 0.479);
}
#services .item:hover{
    background-color: orange;
}
#services .item:hover p{
    color: var(--h);
    animation: services 1s both;
}
#services .item:hover h1{
    color: var(--h);
    animation: services 1s both;
}
#services .item:hover h2{
    color: var(--pnormal);
    animation: services 1s both;
}
/* Testimonials */
#test{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 100px 20px;
}
#test h1{
    font-size: var(--titlesec);
    text-align: center;
    margin-top: 0px;
}
#test h3{
    font-size: 20px;
    color: orange;
    text-transform: uppercase;
    display:inline-block;
}
#test p{
    color: var(--pnormal);
    padding: 10px;
}
#test .container{
    width: 80%;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
#test .item{
    width: 40%;
    position: relative;
}
#test .item:hover{
    animation: testti 2s both;
}

#test img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
/* CSS Blog */
#blog{
    /* border: 1px solid red; */
    height: auto;
    margin: var(--normalM);
}
#blog h1{
    font-size: var(--titlesec);
    color: var(--h);
    text-align: center;
}
#blog .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#blog .item{
    border: 1px solid rgba(172, 172, 172, 0.404);
    height: auto;
    width: 33%;
}
#blog .item:hover{
    animation: blog 1s both;
}
#blog img{
    width: 100%;
    display: block;
    left: 0px;
    top: 0px;
}
#blog h2{
    color: var(--h);
    margin: 30px 30px;
}
#blog p{
    color: var(--grey);
    margin: 30px 30px;
}
#blog h3{
    color: orange;
    margin: 30px 30px;
}

/* Google Css */
#google div{
    width: 100%;
}

/* ContactUs */
#contact {
    padding: 30px 200px;
}
#contact h1{
    text-align: center;
    color: var(--h);
    font-size: var(--titlesec);
}
#contact .container{
    display: flex;
    flex-wrap: wrap;
}
#contact .item{
    width: 50%;
    height: 600px;
    padding: 20px 20px;
}
#contact h2{
    font-size: 30px;
    color: orange;
    margin-left: 50px;
}
#cha{
    display: flex;
    flex-wrap: wrap;
}
#right {
    width: 30%;
}
#left{
    width: 70%;
}
#contact h4{
    color: var(--h);
    font-size: 20px;
}
#contact p{
    color: var(--grey);
}
#form{
    background-color: rgb(235, 233, 233);
    padding: 5% 5%;
    height: auto;
}
form #text{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}
form textarea{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}
form #submit{
    width: 100%;
    color: var(--pnormal);
    background-color: orange;
    border-radius: 5px;
    border:none;
    height: 50px;
}
/* Footer */
footer{
    background-color: black;
    width: 100%;
    height: auto;
    padding: 100px 100px;
    color: var(--pnormal);
}
footer .container{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

footer .item{
    width: 25%;
    height: auto;
    padding: 10px 20px;
}

footer #email{
    height: 50px;
    padding-left: 10px;
    margin: 0px;
}
footer #submit{
    height: 50px;
    background-color: orange;
    border: none;
    color: var(--pnormal);
    border-radius: 2px;
    margin: 0px;
}
footer p{
    color: var(--grey);
}
footer #link{
    height: 50px;
}
footer img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
}
footer #link{
    width: 100%;
    /* height: 50px; */
}
footer #email{
    width: 60%;
}
footer #submit{
    width: 35%;
}

#totop img{
    width: 3em;
    height: auto;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}
#totop img:hover{
    transform: rotate(360deg);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}


/* Animation */

/* header */
@keyframes mainheader{
    0%{
        letter-spacing: -0.5em;
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
/* welcome */
@keyframes welcome{
    0%{
        opacity: 0;
    }
    /* 20%{
        opacity: 0.2;
    }
    40%{
        opacity: 0.4;
    }
    60%{
        opacity: 0.6;
    }
    80%{
        opacity: 0.8;
    } */
    100%{
        opacity: 1;
    }
}
@keyframes welcomeh1{
    0%{
        letter-spacing: 1em;
    }
    100%{
        letter-spacing: 0em;
    }
}
/* What-we-do */
@keyframes imghover{
    0%{
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(180deg);
    }
}
/* Statistics */
@keyframes bgsta {
    0%{
        background-position: 100% 0%;
    }
    25%{
        background-position: 0% 100%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0% 100%;
    }
}
/* Services */
@keyframes services {
    0%{
        transform: translateY(-500px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/* testimonial */
@keyframes testti{
    0%{
        opacity: 1;
        transform: translateY(0) scaleX(1) scaleY(1);
        filter: blur(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-500px) scaleY(1.5) scaleX(0.5);
        filter: blur(10px);
    }
}
/* Blog */
@keyframes blog {
    0%{
        transform: translateY(-17px);
    }
    20%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(-15px);
    }
    40%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-12px);
    }
    60%{
        transform: translateY(0);
    }
    70%{
        transform: translateY(-7px);
    }
    80%{
        transform: translateY(0);
    }
    90%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
    }
}